@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

.title{
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    font-size: 64px;
}
.font-cormorant-semibold{
    font-family: "Cormorant SC", serif;
    font-weight: 600;
}
h1{
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    font-size: 48px;
}
h2{
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    font-size: 36px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
}
h4{
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    font-size: 24px;
}
h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.sides_m{
    padding-left: 80px;
    padding-right: 80px;
}
@media (max-width: 768px) {
  .sides_m {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* HERO BACKGROUND */
.hero-image {
  background-size: cover;
  background-position: center;
  animation: zoomHero 2s ease-in-out forwards;
}

@keyframes zoomHero {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* .hero-image.zoom {
  transform: scale(1.1);
} */

/* FADE UP ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 1s ease-out forwards;
  opacity: 0;
}

/* DELAY VARIANT */
.delay-200 {
  animation-delay: 0.2s;
}
.delay-400 {
  animation-delay: 0.4s;
}
.delay-600 {
  animation-delay: 0.6s;
}
